/* Establece algunas reglas básicas para el cuerpo de la página */
body {
    padding-top: 5rem;
    background-color: #f8f9fa;
  }
  
  /* Establece algunos estilos para las tarjetas que contienen el formulario y la tabla */
  .card {
    margin-bottom: 1rem;
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  /* Establece algunos estilos para los botones del formulario */
  .btn-submit {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-submit:hover {
    background-color: #0069d9;
  }
  
  .btn-reset {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-reset:hover {
    background-color: #c82333;
  }
  
  /* Establece algunos estilos para las etiquetas de formulario */
  .form-group label {
    font-weight: bold;
  }
  
  /* Establece algunos estilos para las imágenes cargadas en el formulario */
  .form-group img {
    max-height: 150px;
    max-width: 150px;
  }
  
  /* Establece algunos estilos para la tabla que muestra los registros */
  .table th {
    font-weight: bold;
  }
  
  .img-thumbnail {
    max-height: 150px;
    max-width: 150px;
  }
  
  /* Establece algunos estilos para los botones de la tabla */
  .btn-editar,
  .btn-borrar {
    padding: 0;
    border: none;
    background: none;
  }
  
  .btn-editar:hover,
  .btn-borrar:hover {
    cursor: pointer;
  }
  
  .btn-editar i,
  .btn-borrar i {
    font-size: 1.25rem;
  }
  
  .btn-editar i {
    color: #28a745;
  }
  
  .btn-borrar i {
    color: #dc3545;
  }
  