<div class="card mt-5">
  <div class="card-header">
    <img src="https://uploadgerencie.com/imagenes/estructura-notas-estados-financieros.png" alt="Inventariado"
      class="imagen-encabezado" />
    <h3>
      Editar Inventariado de las Computadora de Asociacion NuevoAmanecer
    </h3>
  </div>

  <div class="card-body">
    <form [formGroup]="registroForm" (submit)="onSubmit($event)">

      <!-- ID Inventario y Identificación-->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Identificación</mat-label>
            <mat-select formControlName="identificacion">
              <mat-option value="ANAAIO">ANAAIO</mat-option>
              <mat-option value="ANALAP">ANALAP</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>ID Inventario</mat-label>
            <input matInput formControlName="idInventario" />
          </mat-form-field>
        </div>
      </div>

      <!-- Serie y Modelo -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Serie</mat-label>
            <input matInput formControlName="serie" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="modelo" />
          </mat-form-field>
        </div>
      </div>

      <!-- Siglas y Usuario -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Siglas</mat-label>
            <input matInput formControlName="siglas" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" />
          </mat-form-field>
        </div>
      </div>

      <!-- Usuario admin que entregó y Fecha de entrega -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Usuario admin que entregó</mat-label>
            <input matInput formControlName="usuarioAdmin" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de entrega</mat-label>
            <input matInput formControlName="fechaEntrega" [matDatepicker]="picker" placeholder="Elija una fecha" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- IP Estatus y Dirección -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>IP Estatus</mat-label>
            <mat-select formControlName="ipEstatus">
              <mat-option value="DHCP">DHCP</mat-option>
              <mat-option value="Estática">Estática</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccionIP" />
          </mat-form-field>
        </div>
      </div>
      <!-- Área,Checkbox Entregado -->
      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="entregado">Entregado</mat-checkbox>

        </div>
        <div class="col ">
          <mat-form-field appearance="outline">
            <mat-label>Área</mat-label>
            <mat-select formControlName="area" (selectionChange)="onAreaChange($event)">
              <mat-option value=""> </mat-option>
              <mat-option value="Área Bilingue">Área Bilingue</mat-option>
              <mat-option value="Área Colegio">Área Colegio</mat-option>
              <mat-option value="Área Administracion">Área Administracion</mat-option>
              <mat-option value="Laboratorios">Laboratorios</mat-option>
              <mat-option value="Área CFP">Área CFP</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!--  Cargo y Aula -->
      <div class="row">
        <div class="col ">
          <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="cargo">
              <ng-container *ngFor="let cargo of filteredCargos">
                <mat-option [value]="cargo">{{ cargo }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col ">
          <mat-form-field appearance="outline">
            <mat-label>Aula</mat-label>
            <mat-select formControlName="aula">
              <ng-container *ngFor="let aula of filteredAulas">
                <mat-option [value]="aula">{{ aula }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Observaciones -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="observaciones"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="row">
        <div class="col">
          <button type="submit" mat-raised-button color="primary">Guardar cambios</button>
          <button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
        </div>
      </div>

    </form>
  </div>
</div>